services:
  app:
    build:
      context: ./app
      dockerfile: ../docker/node/Dockerfile
    ports:
      - "${APP_PORT}:${APP_PORT}"
    volumes:
      - ./app:/app
      - /app/node_modules
    environment:
      - DATABASE_URL=${DB_URL}
      - NODE_ENV=${NODE_ENV}
      - FRONTEND_URL=http://localhost:${FRONTEND_PORT}
    depends_on:
      - db

  frontend:
    build:
      context: ./frontend
      dockerfile: ../docker/node/Dockerfile
    ports:
      - "${FRONTEND_PORT}:${FRONTEND_PORT}"
    volumes:
      - ./frontend:/app
      - /app/node_modules
    environment:
      - NODE_ENV=${NODE_ENV}
      - VITE_API_URL=http://app:${APP_PORT} 
    command: npm run dev -- --host

  db:
    build:
      context: ./
      dockerfile: ./docker/postgres/Dockerfile
    environment:
      - POSTGRES_USER=${DB_USER}
      - POSTGRES_PASSWORD=${DB_PASSWORD}
      - POSTGRES_DB=${DB_NAME}
    ports:
      - "5432:5432"
    volumes:
      - db-data:/var/lib/postgresql/data

volumes:
  db-data: