services:
  app:
    build:
      context: ./app
      dockerfile: ../docker/node/Dockerfile
    ports:
      - "${APP_PORT}:${APP_PORT}"
    volumes:
      - ./app:/app
      - /app/node_modules # コンテナ内のnode_modulesを保護
    environment:
      - DATABASE_URL=${DB_URL}
      - NODE_ENV=${NODE_ENV}
    # 起動時にnpm installを実行して同期させる
    command: sh -c "npm install && npm run dev"
    depends_on:
      - db

  frontend:
    build:
      context: ./frontend
      dockerfile: ../docker/node/Dockerfile
    ports:
      - "${FRONTEND_PORT}:${FRONTEND_PORT}"
    volumes:
      - ./frontend:/app
      - /app/node_modules
      - NODE_ENV=${NODE_ENV}
      - VITE_API_URL=http://app:${APP_PORT}
    command: sh -c "npm install && npm run dev -- --host"

  db:
    image: postgres:15-alpine
    environment:
      - POSTGRES_USER=${DB_USER}
      - POSTGRES_PASSWORD=${DB_PASSWORD}
      - POSTGRES_DB=${DB_NAME}
    ports:
      - "5432:5432"
    volumes:
      - db-data:/var/lib/postgresql/data

volumes:
  db-data: